/*HELPER CLASSES*/
.center-align{
  text-align: center !important;
}

.left-align{
  text-align: left !important;
}

.right-align{
  text-align: right !important;
}

.pointer{
  cursor: pointer !important;
}
